img{
	height:100px;
	width:100px;
}

.img-circle{
	border-radius: 50%;
}

#container{
	margin-left: 35%;
	margin-top: 8%;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
	background: url("/images/cookie.jpg");
}

